@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Rubik:wght@300;400;700&display=swap');

* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container {

    max-width: 1324px;
    width: 100%;
    margin: 0 auto;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {

    padding: 16px 0 0;
    border-bottom: 2px solid #ccc;
    margin-bottom: 56px;
}


.sub-menu {

    display: none;
    background: #7ab1a2;
     position: absolute;  /* o box-model no ul do sub-menu está sendo considerado por isso adicionamos o absolute*/
     left: 0;
     width: 300px;
     left: 0;
     top: 100%;
}


.menu > li {

    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    cursor: pointer;
    position: relative;

}

.menu > li:hover {

    border-top: 4px solid #7ab1a2;
}

.clear-both {

    clear: both;
}



.menu li:hover .sub-menu {

    display: block;
    cursor: pointer;
    
}

.sub-menu li {

    display: block;
    padding: 8px;
    
}

a {
    /* color: #fff; */
}

/* Imagem */

.img-resp {

width: 220px;
height: 220px;

}
.noticia img {

    max-width: 100%;
}
.conteudo {

    display: grid;
    grid-template-columns: 70% 30%;

}

.destaque .noticia a {

    font-size: 2em;
    display: flex;
}

.destaque .noticia img {

    margin-right: 8px;
}

.destaque {
    margin-bottom: 56px;

}

section h2 {

    margin-bottom: 32px;
}


aside {

    padding-left: 40px;
}

aside .noticia {

    margin-bottom: 24px;

}


.noticias {

    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    column-gap: 1%;
    row-gap: 7%;
}


/* Responsive */


@media screen and (max-width: 767px) {


    .conteudo {

        display: block;

    }

    .container {

        max-width: 90%;
    }

    
.destaque .noticia a {

    font-size: 1.3em;
    display: block;
}

.destaque .noticia img {

    margin-right: 0;
}

.img-resp {
width: 100%;
margin-top: 15px;

}

.destaque {

}

.noticias {

    display: block;
    grid-template-columns: repeat(3, 32.6%);
    column-gap: 1%;
    row-gap: 7%;
}

.noticias .noticia {

    margin-bottom: 32px;
}


aside {

    padding-left: 0;
}

header .container {

    flex-direction: column;
}


/* Menu && Submenu */


.sub-menu {

    display: block;

     position: relative;  /* o box-model no ul do sub-menu está sendo considerado por isso adicionamos o absolute*/
     width: 100%;
    border: none;
    }


.menu > li {
    clear: both;
    background: #284039;
    /* float: left; */
}




.menu, .menu > li {
    width: 100%;
    display: none;
}


.sub-menu li {

    display: block;
    padding: 8px;
    
}
.menu {

    display: block;
}



.botao-menu {

    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-bottom: 16px;
}


.botao-menu button {


    padding: 8px;
}

}