@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


:root {
    
}


html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header > .container {

    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;

}

header {
    background: #192a56;
    padding-top: 16px 0;
    color: #fff;
}


nav {
    background: #575fcf;
    padding: 16px 0;
    display:none;
}

nav li {

    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {

    text-decoration: none;
    color: #fff;

}

/* MENU */

.menu-hamb {

    width: 32px;
    cursor: pointer;
}

.menu-hamb span {

    height: 2px;
    width: 100%;
    background: #fff;
    display: block;
    margin-bottom: 4px;
}

/* Section Sobre*/


.c-f {
    display: flex;
}

#sobre-a-loja img {

    max-width: 400px;
    margin-right: 24px;

}

section {

    padding: 48px 0;

}

section h2 {

    margin-bottom: 16px;
}

.lista-veic {

    flex-wrap: wrap;
}

.lista-veic li {

    list-style: none;
    max-width: 30%;

}

.lista-veic li img {

    max-width: 100%;

}


.lista-veic li h3{

    margin: 16px 0;

}

.item-center {

    margin: 0 5%;

}


.lista-veic li button{

    display: block;
    width: 100%;
    padding: 8px 0;
    color: #fff;
    border: none;
    background: #119759;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 22px;
}


.lista-veic li strong {

    margin: 16px 0;
    display: block;
}

