@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header > .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;

}

header {
    background: #192a56;
    padding-top: 16px 0;
    color: #fff;
}


nav {
    background: #575fcf;
    padding: 16px 0;
}

nav li {

    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {

    text-decoration: none;
    color: #fff;

}

/* MENU */

.menu-hamb {

    width: 32px;
}

.menu-hamb span {

    height: 2px;
    width: 100%;
    background: #fff;
    display: block;
    margin-bottom: 4px;
}

